:root {
  --vermelho: #c12026;
  --amarelo: #f7c331;
  --laranja: #f79c1d;
  --branco: #fcebf5;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--branco);
  color: #222;
  margin: 0;
}

header {
  background: linear-gradient(90deg, var(--vermelho), var(--laranja));
  padding: 15px;
  text-align: center;
  color: white;
}
#pedidos {
  border: none;
  background: transparent;
  color: #fff;
  margin-left: 2em;
  position: absolute;
  right: 8px;
  top: 8px;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  width: auto;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
nav::-webkit-scrollbar {
  display: none;
}

.nav-btn {
  background-color: var(--amarelo);
  color: #222;
  border: none;
  border-radius: 25px;
  transition: 0.3s;
  flex: 0 0 auto;
}
.btn-nav-ativo {
  background-color: var(--laranja);
  box-shadow: 0 0 6px #ff9752;
  transform: scale(1.07);
  margin: 0 8px;
}
button {
  font-weight: 600;
  cursor: pointer;
  padding: 12px;
}

.nav-btn:hover {
  color: rgb(51, 51, 51);
  background-color: var(--laranja);
  box-shadow: 0 0 6px #ff9752;
  transform: scale(1.07);
  margin: 0 8px;
}

.categoria {
  display: none;
  padding: 30px 20px;
}

.categoria.ativa {
  display: block;
}

h2 {
  color: var(--vermelho);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.grid-produtos {
  display: grid;
  gap: 20px;
  padding: 0 25px 0 0;
}

.produto {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 7px 11px;
  transition: transform 0.2s;
  overflow: hidden;
  margin: 0;
}

.produto img {
  border-radius: 8px;
  margin: 0;
  object-fit: cover;
  flex-shrink: 0;
}

footer {
  background-color: var(--vermelho);
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9em;
  margin-top: 40px;
}

.preco {
  font-weight: bold;
}
.informacao-display {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.informacao-display p {
  margin: 0;
}

.produto button {
  border: none;
  border-radius: 20px;
  background: linear-gradient(90deg, var(--vermelho), var(--laranja));
  margin-right: 5px;
  color: #252121;
  opacity: 0;
  margin-left: auto;
  transition: opacity 0.8s ease, transform 0.45s ease;
  pointer-events: none;
  transform: translateX(-120px);
}
.produto:hover {
  transform: scale(1.075);

  button {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }
}
.produto button:hover {
  background: linear-gradient(180deg, var(--laranja), var(--vermelho));
}
strong {
  margin-bottom: 6px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 9;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: none;
  overflow: hidden;
  max-height: 90%;
  width: 80%;

  justify-content: center;
}
.modal h2 {
  margin-top: 7px;
}
.modal-conteudo {
  padding: 30px 20px 20px 20px;
  gap: 20px;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  flex-wrap: nowrap;
  display: flex;
}
.modal-conteudo::-webkit-scrollbar {
  display: none;
}
#modal-img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.info-produto {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.modal textarea,
.modal select {
  width: 93%;
  margin: 8px 0;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
}

.fechar {
  position: absolute;
  top: 5px;
  right: 13px;
  font-size: 28px;
  color: #333;
  cursor: pointer;
}
#btn-adicionar {
  border: transparent;
  border-radius: 20px;
  background-color: var(--laranja);
}
#btn-adicionar:hover {
  background-color: #f5731d;
  box-shadow: 0 3px 6px 2px rgb(255, 161, 55);
  transform: scale(1.05);
}
.molho-adicionar img {
  width: 40px;
}
.molho-adicionar {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.molho-adicionar button {
  border: none;
  background-color: #949494;
  border-radius: 50%;
  padding: 2px;
}
.molho-adicionar p {
  display: flex;
  align-items: center;
}
.preco-total {
  display: flex;
  gap: 10px;
}
#count-carrinho {
  background-color: var(--vermelho);
  padding: 3px;
  border-radius: 50%;
}
/* Neutraliza dark mode automático */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light; /* força cores claras */
  }
}

@media (min-width: 800px) {
  .grid-produtos {
    justify-content: center;
  }
  .produto {
    width: 65vw;
    gap: 30px;
  }
  nav {
    justify-content: center;
  }
  .nav-btn {
    width: 17vw;
  }
  .produto img {
    width: 130px;
    height: 130px;
  }
  .modal {
    width: 40vw;
  }
}
@media (min-width: 480px) and (max-width: 799px) {
  body {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 1.35rem;
  }
  h2 {
    font-size: 1rem;
  }
  .produto {
    gap: 20px;
    width: 100%;
  }
  button {
    font-size: 0.7rem;
  }
  .nav-btn {
    width: 26vw;
  }
  .produto img {
    width: 110px;
    height: 110px;
  }
}

@media (max-width: 480px) {
  .nav-btn {
    width: 32vw;
  }
  body {
    font-size: 0.7rem;
  }
  h1 {
    font-size: 1.28rem;
  }
  h2 {
    font-size: 0.9rem;
  }
  button {
    font-size: 0.6rem;
  }
  .produto {
    gap: 15px;
    width: 100%;
  }
  .produto img {
    width: 90px;
    height: 90px;
  }
}
